html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
    background-color: rgba(0 0 0 0);
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

input, textarea, select, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}